<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".HaWidgetsApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HaWidgets"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.HaWidgets">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".web.WebViewActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@style/Theme.HaWidgets.Translucent" />

        <activity
            android:name=".widget.ShortcutWidgetConfigActivity"
            android:exported="true"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:theme="@style/Theme.HaWidgets">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widget.ShortcutWidgetReceiver"
            android:label="@string/shortcut_widget_label"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shortcut_widget_info" />
        </receiver>

        <activity
            android:name=".widget.light.LightWidgetConfigActivity"
            android:exported="true"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:theme="@style/Theme.HaWidgets">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widget.light.LightWidgetReceiver"
            android:label="@string/light_widget_label"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/light_widget_info" />
        </receiver>

        <!-- Switch -->
        <activity
            android:name=".widget.switchwidget.SwitchWidgetConfigActivity"
            android:exported="true"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:theme="@style/Theme.HaWidgets">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".widget.switchwidget.SwitchWidgetReceiver"
            android:label="@string/switch_widget_label"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/switch_widget_info" />
        </receiver>

        <!-- Scene -->
        <activity
            android:name=".widget.scene.SceneWidgetConfigActivity"
            android:exported="true"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:theme="@style/Theme.HaWidgets">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".widget.scene.SceneWidgetReceiver"
            android:label="@string/scene_widget_label"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/scene_widget_info" />
        </receiver>

        <!-- Script -->
        <activity
            android:name=".widget.script.ScriptWidgetConfigActivity"
            android:exported="true"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:theme="@style/Theme.HaWidgets">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".widget.script.ScriptWidgetReceiver"
            android:label="@string/script_widget_label"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/script_widget_info" />
        </receiver>

        <!-- Automation -->
        <activity
            android:name=".widget.automation.AutomationWidgetConfigActivity"
            android:exported="true"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:theme="@style/Theme.HaWidgets">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".widget.automation.AutomationWidgetReceiver"
            android:label="@string/automation_widget_label"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/automation_widget_info" />
        </receiver>

        <!-- Sensor -->
        <activity
            android:name=".widget.sensor.SensorWidgetConfigActivity"
            android:exported="true"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:theme="@style/Theme.HaWidgets">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".widget.sensor.SensorWidgetReceiver"
            android:label="@string/sensor_widget_label"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/sensor_widget_info" />
        </receiver>

        <!-- Binary Sensor -->
        <activity
            android:name=".widget.binarysensor.BinarySensorWidgetConfigActivity"
            android:exported="true"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:theme="@style/Theme.HaWidgets">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".widget.binarysensor.BinarySensorWidgetReceiver"
            android:label="@string/binary_sensor_widget_label"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/binary_sensor_widget_info" />
        </receiver>

        <!-- Cover -->
        <activity
            android:name=".widget.cover.CoverWidgetConfigActivity"
            android:exported="true"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:theme="@style/Theme.HaWidgets">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".widget.cover.CoverWidgetReceiver"
            android:label="@string/cover_widget_label"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/cover_widget_info" />
        </receiver>

        <activity
            android:name=".widget.common.RangeControlActivity"
            android:exported="false"
            android:theme="@style/Theme.HaWidgets.Dialog"
            android:taskAffinity=""
            android:excludeFromRecents="true" />

        <!-- Climate -->
        <activity
            android:name=".widget.climate.ClimateWidgetConfigActivity"
            android:exported="true"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:theme="@style/Theme.HaWidgets">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".widget.climate.ClimateWidgetReceiver"
            android:label="@string/climate_widget_label"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/climate_widget_info" />
        </receiver>

    </application>

</manifest>
